@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Personal Finance Application</h1>
        <p>The application is structured around two main entities: Transactions and Categories. Each transaction is linked to a category, providing a way to group and manage expenses effectively. The application leverages the power of Entity Framework for data handling, ensuring efficient and secure interactions with the SQL Server database.</p>
        <p>One of the key features of this application is the enforcement of data integrity. When a category is deleted, all associated transactions are also removed, ensuring there are no orphaned records.</p>
        <p>The application also provides robust search functionality, allowing users to find transactions by name. Additionally, users can filter transactions based on categories and dates, providing a flexible and powerful way to analyze financial data.</p>
        <p>To ensure a seamless user experience, all insert, delete, and update operations for transactions and categories are performed within modals, eliminating the need for page transitions and providing a smooth, uninterrupted workflow.</p>
        <p>In summary, the Personal Finance Tracker is a powerful tool for managing personal finances, offering a blend of robust functionality and user-friendly design. It serves as a great example of a complex MVC application, demonstrating effective use of various technologies including C#, JavaScript, Entity Framework, and SQL Server.</p>
</div>